<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kata-Contacts-Swift-UI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2FEFE651D2AEEA50071C358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2FEFE7B1D2AEEA50071C358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2FEFE861D2AEEA50071C358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
